In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")

In [3]:
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Buraydah,SA,2021-05-27 02:23:31,26.3260,43.9750,77.45,15,1,7.05
1,1,Zhangjiakou,CN,2021-05-27 02:27:31,40.8100,114.8794,66.49,28,99,11.16
2,2,Rikitea,PF,2021-05-27 02:24:02,-23.1203,-134.9692,74.70,70,91,17.31
3,3,San Quintin,MX,2021-05-27 02:28:08,30.4833,-115.9500,61.93,81,100,12.46
4,4,Hilo,US,2021-05-27 02:28:09,19.7297,-155.0900,81.28,78,90,13.80

In [4]:
city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [37]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Buraydah,SA,2021-05-27 02:23:31,26.3260,43.9750,77.45,15,1,7.05
4,4,Hilo,US,2021-05-27 02:28:09,19.7297,-155.0900,81.28,78,90,13.80
5,5,Nabire,ID,2021-05-27 02:28:09,-3.3667,135.4833,85.82,68,46,3.06
8,8,Vaini,TO,2021-05-27 02:28:10,-21.2000,-175.2000,78.96,73,20,11.50
11,11,Butaritari,KI,2021-05-27 02:28:11,3.0707,172.7902,83.66,79,85,19.24
18,18,Baherden,TM,2021-05-27 02:28:13,38.4362,57.4316,75.43,56,100,6.62
21,21,Labuhan,ID,2021-05-27 02:28:14,-6.8844,112.2051,86.11,65,49,15.35
41,41,Puerto El Triunfo,SV,2021-05-27 02:28:21,13.2833,-88.5500,80.76,77,100,2.59
48,48,Saint George,US,2021-05-27 02:28:23,37.1041,-113.5841,87.64,9,1,1.01
50,50,Luwuk,ID,2021-05-27 02:28:24,-0.9516,122.7875,85.89,69,8,6.98

In [38]:
preferred_cities_df.isnull().sum()

City ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [39]:
preferred_cities_df.count()

City ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [40]:
preferred_cities_df.notnull().sum()

City ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [41]:
#Don't add the hotel information to the preferred_cities_df DataFrame 
#because this DataFrame is our filtered DataFrame, and the customer will always filter it for each trip. 
#We'll need to create a new DataFrame specifically for the data needed to create a heatmap and pop-up markers.

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0            Buraydah      SA     77.45  26.3260   43.9750
4                Hilo      US     81.28  19.7297 -155.0900
5              Nabire      ID     85.82  -3.3667  135.4833
8               Vaini      TO     78.96 -21.2000 -175.2000
11         Butaritari      KI     83.66   3.0707  172.7902
18           Baherden      TM     75.43  38.4362   57.4316
21            Labuhan      ID     86.11  -6.8844  112.2051
41  Puerto El Triunfo      SV     80.76  13.2833  -88.5500
48       Saint George      US     87.64  37.1041 -113.5841
50              Luwuk      ID     85.89  -0.9516  122.7875

In [45]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}


# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [47]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Buraydah,SA,77.45,26.3260,43.9750,فندق راحة السلام
4,Hilo,US,81.28,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Nabire,ID,85.82,-3.3667,135.4833,Hotel Nusantara Nabire
8,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
11,Butaritari,KI,83.66,3.0707,172.7902,Isles Sunset Lodge
18,Baherden,TM,75.43,38.4362,57.4316,
21,Labuhan,ID,86.11,-6.8844,112.2051,PT PPI Lamongan Tambak C
41,Puerto El Triunfo,SV,80.76,13.2833,-88.5500,Hotel Jardin
48,Saint George,US,87.64,37.1041,-113.5841,Best Western Plus Abbey Inn
50,Luwuk,ID,85.89,-0.9516,122.7875,Hotel Santika Luwuk

In [49]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [51]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [52]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))