## Deliverable 3. Create a Travel Itinerary Map.

In [43]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [44]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Boa Vista,BR,78.78,few clouds,2.8197,-60.6733,Aipana Plaza Hotel
1,1,Hermanus,ZA,52.90,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
2,2,Vao,NC,73.45,overcast clouds,-22.6667,167.4833,Hotel Kou-Bugny
3,3,Kirakira,SB,83.05,overcast clouds,-10.4544,161.9205,SanBiz Lodge
4,4,Oktyabrskoye,RU,57.34,broken clouds,43.0645,44.7417,Prolesok Mini-hotel

In [45]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template =  """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and </dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [47]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Karratha") & (vacation_df["Country"] == "AU")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Karratha")  & (vacation_df["Country"] == "AU")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Mount Isa")  & (vacation_df["Country"] == "AU")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Yulara")  & (vacation_df["Country"] == "AU")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Geraldton")  & (vacation_df["Country"] == "AU")]

In [49]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]  
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')
print(f'stop1: {stop1}, stop2: {stop2}, stop3: {stop3}')

Start: (-20.7377, 116.8463), End: (-20.7377, 116.8463)
stop1: (-20.7333, 139.5), stop2: (-25.2406, 130.9889), stop3: (-28.7667, 114.6)

In [50]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop3, stop2, stop1],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3, ],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,172,Karratha,AU,77.58,clear sky,-20.7377,116.8463,ibis Styles Karratha
1,172,Karratha,AU,77.58,clear sky,-20.7377,116.8463,ibis Styles Karratha
2,407,Mount Isa,AU,71.37,broken clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
3,241,Yulara,AU,64.24,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
4,207,Geraldton,AU,69.13,clear sky,-28.7667,114.6000,Broadwater Mariner Resort

In [52]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and </dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [53]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))